#banner{
    background-image: url('../../image_index/fon_banner.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
    padding: 113px 0;
}

.row h5{
    max-width:435px;
    padding-top: 16px;
    font-family: "Montserrat_light", sans-serif;
    color: white;
    font-size: 16px;
}



.row h1{
    font-family: 'Inter_bold',sans-serif;
    font-size: 48px;
    color:white;
    max-width: 875px;
}

.money{
    align-items: center;
    padding-top: 46px;
}

.money h4{
    padding-left: 24px;
    color:white;
    font-size: 17px;
    font-family:  "Inter_med",sans-serif;
    letter-spacing: 1px;
}
