#banner_zakaz{
    background-image: url('../../image_index/fon_zakaz.jpg');
    background-size: cover;
    background-position: center;
    padding: 71px 0;
    position: relative;
    height: 590px;
}


.wrapper_zakaz{
    display: grid;
    grid-template-columns: repeat(2, 10fr);
    grid-auto-rows: 388px;
    gap:54px;
    
}

.levo img{
    position: absolute;
    top:10%;
    right: 1%;
}

.top_links_zakaz a {
    text-decoration: none;
    color: rgb(59, 59, 59);
    border:none;
    font-family:  "Montserrat_reg",sans-serif;
    font-size: 12px;
}

.top_links_zakaz a:nth-of-type(1) {
    padding-right: 12px;
}

.top_links_zakaz a:nth-of-type(2) {
    padding-right: 12px;
}

.text_info h2{
    font-family: "Inter_bold",sans-serif;
    font-size: 46px;
    padding-top: 24px;
}

.text_info p{
    font-family:  "Montserrat_reg",sans-serif;
    font-size: 16px;
    padding-top: 12px;
}

.move_button{
    padding: 43px 1px;
}

.perehod{
    margin-top: 122px;
    justify-content: center;
    align-items: center;
    max-width: 497px;
    background-color: #536FA4;
    border-radius: 20px;
}

.perehod p{
    font-size: 18px;
    font-family: "Inter_bold",sans-serif;
    padding: 43px 31px;
    color:white;
}

.perehod a{
    border:none;
    background: transparent;
    padding: 13px 11px 13px 0px;
}