#stoimost{
    background-image: url('../../image_index/fon_img.jpg');
    background-position: center;
    background-size: cover;
    padding: 81px 0 124px 0;
}

.move_left h2{
    font-family: "Inter_semib",sans-serif;
    font-size: 30px;
    padding-bottom: 28px;
}

.move_left p{
    font-family: "Montserrat_reg",sans-serif;
    font-size: 14px;
    padding-bottom: 28px;
    
}

.move_right button{
    border: none !important;
    background-color: #353D83;
    padding: 23px 62px;
    border-radius: 30px;
}

.move_right p{
   color: white;

}

.move_right{
    padding: 50px 0 0 170px;
}